.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  align-items: center;
  justify-content: center;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.pointer {
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-98 {
  width: 98%;
}

.w-97 {
  width: 97%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.overflow {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.capitalize {
  text-transform: capitalize;
}

.index-out {
  z-index: 999;
}

.index-in {
  z-index: -1;
}